@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";

@import "components/buttons";

@import "layout/header";
@import "layout/product";
@import "layout/statistics";
@import "layout/footer";

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 20px 0;
        gap: 15px;
    }

    .nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero .hero-content h1 {
        font-size: 32px;
    }

    .product-list,
    .statistics-list,
    .footer-content {
        grid-template-columns: 1fr;
    }
}
