// abstracts/_variables.scss

$purple-color: #9933cc;
$blue-color: #33b5e5;
$footer-color: #0099cc;
$white-color: #ffffff;
$border-color: #808080;
$black-color: #000000;

$column-width: 8.33%;
$sidebar-width: 25%;
$grid-opacity: 0.9;
$overlay-opacity: 0.1;

$header-height: 90px;
$content-height: 230px;
$footer-height: 50px;
$overlay-height: 370px;
