// main.scss

@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/typography";
@import "components/buttons";
@import "components/cards";

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 30px;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
