* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: $text-color;
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: $secondary-color;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}
