.card {
    width: 280px;
    height: 150px;
    padding: 20px;
    border: 5px solid #3498db;
    margin: 20px;
}

/* Thẻ thứ nhất */
.card:nth-child(2) {
    box-sizing: content-box;
    background-color: #2ecc71;
}

/* Thẻ thứ hai */
.card:nth-child(3) {
    box-sizing: border-box;
    background-color: #f1c40f;
}

/* Thẻ thứ ba */
.card:nth-child(4) {
    box-sizing: border-box;
    background-color: #e74c3c;
}